vs_2015/Debug/
vs_2015/diesel.opensdf
vs_2015/diesel.sdf
vs_2015/diesel.VC.VC.opendb
vs_2015/diesel.VC.db
examples/cube/Debug/
examples/texture/Debug/
examples/camera/Debug/
examples/obj/Debug/
examples/sprites/Debug/
examples/ambient/Debug/
html/
examples/shadows/Debug/
examples/effects/Debug/
*.db
TEMP/math.h
