vs_2015/Debug/
vs_2015/diesel.opensdf
vs_2015/diesel.sdf
vs_2015/diesel.VC.VC.opendb
vs_2015/diesel.VC.db
examples/cube/Debug/
examples/texture/Debug/
examples/camera/Debug/
examples/obj/Debug/
examples/sprites/Debug/
examples/ambient/Debug/
html/
examples/shadows/Debug/
examples/effects/Debug/
*.db
TEMP/math.h
examples/common/Debug/
examples/font/Debug/
examples/bump/Debug/
examples/particles2D/Debug/
examples/GPUParticles/Debug/
examples/mesh/Debug/
examples/deferred/Debug/
examples/colors/Debug/
examples/ripples/Debug/
examples/warping_grid/Debug/
examples/imgui/Debug/
examples/raymarching/Debug/
examples/bloom/Debug/
examples/screenshake/Debug/PostProcess.tlog/link.7612.delete.1.tlog
examples/screenshake/Debug/
examples/triangle/Debug/
examples/apath/Debug/
examples/binary_clock/Debug/
examples/monochrome_font/Debug/
docs/
examples/compute_shader/Debug/
examples/tigre/Debug/
examples/raymarching/Release/raymarching.tlog/FXC.write.1.tlog
examples/raymarching/Release/
examples/tigre/Release/
examples/binary_clock/Release/
examples/camera/Release/
examples/bloom/Release/
examples/bump/Release/
examples/colors/Release/
examples/common/Release/
examples/apath/Release/
examples/GPUParticles/Release/
examples/ambient/Release/
examples/compute_shader/Release/
examples/particles2D/Release/
examples/monochrome_font/Release/
examples/mesh/Release/
examples/cube/Release/
examples/ripples/Release/
examples/font/Release/
examples/effects/Release/
examples/imgui/Release/
examples/screenshake/Release/
examples/sprites/Release/
examples/texture/Release/
examples/obj/Release/
examples/warping_grid/Release/
examples/triangle/Release/
vs_2015/Release/
*.TMP
vs_2015_c/Debug/
vs_2015_c/Release/
vs_2015_c/diesel.sdf
vs_2015_c/diesel.opensdf
examples/water/Debug/
*.ipch
vs_2015/.vs/diesel/v15/.suo
